# =========================
# Go
# =========================
# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Coverage output
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directory
vendor/

# Go workspace
go.work
go.work.sum
